.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.black-nav {
  display: flex;
  background: beige;
  width: 100%;
  color: black;
  padding-left: 20px;
}

.charts-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

.chart-row {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.chart {
  flex: 1;
  min-width: 32%;
  max-width: 100%;
}

@media (max-width: 1200px) {
  .chart-row {
      flex-direction: column;
      align-items: center;
  }
  .chart {
      max-width: 90%;
      margin-bottom: 20px;
  }
}

.date-picker-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.date-picker-container label {
  margin-right: 10px;
  font-weight: bold;
}